#{extends 'main.html' /}

#{set 'moreStyles' }
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/pictomatch-home.css'}" />
#{/set}

<div id="pm_home_container" class="container">
<div class="content">
<div class="row">
	<div class="span9">&nbsp;</div>
	<div class="span4">
		<div id="login">
				
			#{form @authenticate(), id:'pm_home_login_form', class:'form-stacked'}
				
				#{if flash.error}
					<p class="alert-message error">
						&{flash.error}
					</p>
				#{/if}
				#{elseif flash.success}
					<p class="alert-message success">
						&{flash.success}
					</p>
				#{/elseif}
				#{else flash.success}
					<p class="alert-message-empty">
						
					</p>
				#{/else}
			
				<div id="username-field" class="clearfix #{if flash.error} error #{/if}">
					<label for="username">&{'secure.username'}</label>
					<input type="text" name="username" id="username" value="${flash.username}"/>
				</div>
				<div id="password-field" class="clearfix #{if flash.error} error #{/if}">
					<label for="password">&{'secure.password'}</label>
					<input type="password" name="password" id="password" value=""/>
				</div>
				<div id="remember-field" class="clearfix">
					<input type="hidden" name="remember" id="remember" value="true" />
				</div>
				<div id="signin-field">
					<input type="submit" id="signin" class="btn primary" value="&{'secure.signin'}" />
				</div>
			#{/form}
			
			<div id="register-field">
				<a href="#" class="btn" data-controls-modal="register-modal" data-backdrop="static" data-keyboard="true">
					&{'lbl_a_create_account_and_play'}
				</a>
				
				<div id="register-modal" class="modal hide fade" style="display: none; ">
		            #{form action:@Users.register(), id:'pm_home_register_form', enctype:'multipart/form-data', class:'form-stacked'}
			            <div class="modal-header">
			              <a href="#" class="close">X</a>
			              <h3>&{'lbl_a_create_account'}</h3>
			            </div>
			            <div id="pm_home_register_form_body" class="modal-body">
				            #{include 'Users/register.html'/}
			            </div>
			            <div class="modal-footer">
			              <input type="submit" id="register" class="btn primary" value="&{'lbl_a_create'}" />
			            </div>
		            #{/form}
		        </div>
			</div>
		</div>
	</div>
</div>
</div>

	<!-- Model - URL -->
	<input name="url.register" value="@@{Users.register()}" type="hidden" class="pm-data" />
</div>

#{set 'moreScripts' }
	<script src="/public/javascripts/pictomatch-home.js"></script>
#{/set}
