#{extends 'mainConnected.html' /}

<div class="content">
	<div class="row">
		<div class="span16">
			<h2>&{"lbl_a_available_rooms_list"}</h2>
			
			<h3>&{"lbl_a_welcome_in_pictomatch"} !</h3>
			<p>
				&{"lbl_a_intro_choose_room_to_play"}.
				&{"lbl_a_intro_room_explanation"}.
				&{"lbl_a_intro_choose_and_click_join"}.
				&{"lbl_a_intro_room_creation_possibility"}.
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span16">
			<h4>&{"lbl_a_choose_a_room"} !</h4>
			<div id="rooms">
				<table class="condensed-table bordered-table zebra-striped">
		        <thead>
		          <tr>
		            <th>&{"lbl_a_room_name"}</th>
		            <th>&{"lbl_a_room_dictionnary"}</th>
		            <th>&{"lbl_a_room_level"}</th>
		            <th>&{"lbl_a_room_players"}</th>
		            <th>&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
		        #{list items:availableRooms, as:'room'}
		        	<tr>
		            	<td>${room.name}</td>
		            	<td>${room.dictionnary.name}</td>
		            	<td>&{room.dictionnary.level.key}</td>
		            	<td>${room.users.size()} &{"lbl_a_user_s"} / ${room.nbMaxUser}</td>
		            	<td><a href="/room/join/${room.id}" class="btn">&{"lbl_a_join_room"}</a></td>
		         	</tr>
				#{/list}
		        </tbody>
		      </table>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span16">
			<a href="#">&{"lbl_a_create_your_room"}</a>
		</div>
	</div>
</div>

	<div id="connected">
	&{"lbl_a_connected_as"} ${connectedUser.login}.
	</div>
	
	
	
	
	<div id="users">
		<h2>&{"lbl_a_registered_users_list"}</h2>
		<ul>
			#{list items:registeredUsers, as:'user'}
			<li>${user.login} (${user.email})</li>
			#{/list}
		</ul>
	</div>