#{extends 'main.html' /}

<div id="connected">
&{"lbl_a_connected_as"} ${connectedUser.login}.
</div>

<div id="rooms">
	<h2>&{"lbl_a_available_rooms_list"}</h2>
	<ul>
		#{list items:availableRooms, as:'room'}
		<li>${room.name} (${room.users.size()} &{"lbl_a_user_s"} / ${room.nbMaxUser})- <a href="/room/join/${room.id}">&{"lbl_a_join_room"}</a></li>
		#{/list}
	</ul>
</div>


<div id="users">
	<h2>&{"lbl_a_registered_users_list"}</h2>
	<ul>
		#{list items:registeredUsers, as:'user'}
		<li>${user.login} (${user.email})</li>
		#{/list}
	</ul>
</div>