<!DOCTYPE html>

#{set title:'PictoMatch' /}

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        #{stylesheet 'bootstrap.min.css' /}
        #{stylesheet 'prettify.css' /}
        #{stylesheet 'main.css' /}
		#{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		#{script 'jquery-1.6.4.min.js' /}
        #{script 'bootstrap-scrollspy.js' /}
        #{script 'bootstrap-twipsy.js' /}
        #{script 'bootstrap-dropdown.js' /}
        #{script 'prettify.js' /}
		#{script 'templating.js' /}
        #{script 'jquery.scrollTo-min.js' /}
		#{script 'pictomatch-init.js' /}
		#{get 'moreScripts' /}
    </head>
    <body>
		<div class="topbar" data-scrollspy="scrollspy">
	      <div class="topbar-inner">
	        <div class="container">
	          <h3><a>PictoMatch</a></h3>
			  <ul class="nav">
	            <li><a href="@{Secure.logout}"><img alt="Logout" src="@{'/public/images/close-icon.png'}" width="20px"/></a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
		
	    <div class="container">
		  #{doLayout /}
		</div>
    </body>
</html>
